<div qv-extension>
    <div class="lui-buttongroup qv-extension-mov-top-menu">               
        <button class="lui-button  lui-buttongroup__button {{measureCss}}" ng-click="viewChange(1)">Measures</button>
        <button class="lui-button  lui-buttongroup__button {{dimensionCss}}" ng-click="viewChange(2)">Dimensions</button> 
    </div>
    <div class="qv-extension-mov-search-info">Displaying {{ (measureDetails | filter: searchText).length }} of {{ measureDetails.length }} entries.</div>
    <div class="lui-search">
        <span class="lui-icon  lui-icon--search  lui-search__search-icon"></span>
        <input ng-model="searchText" ng-keyup="search()" class="lui-search__input" id="table-search" maxlength="255" spellcheck="false" type="text" placeholder="Search"/><!-- ng-keyup="search()"  -->       
        <button ng-click="searchTagAndClear('')" class="lui-search__clear-button">
            <span class="lui-icon  lui-icon--small  lui-icon--close"></span>
        </button>
    </div>    
    <div class="table-container">        
        <table id="master-lib-table" class="qv-extension-mov-master-table table-resizable">
            <thead> 
                <tr> 
                    <th ng-style="{'background-color': layout.headerColor.color, 'color': layout.headerTextColor.color}" ng-show="layout.props.showId" >No</th>                 
                    <th ng-style="{'background-color': layout.headerColor.color, 'color': layout.headerTextColor.color}" ng-show="layout.props.showName" ng-click="sortBy('qData.title')">Name <span class="qv-extension-mov-sortorder" ng-show="propertyName === 'qData.title'" ng-class="{reverse: reverse}"></span></th> 
                    <th ng-style="{'background-color': layout.headerColor.color, 'color': layout.headerTextColor.color}" ng-show="layout.props.showDesc" ng-click="sortBy('qData.description')">Definition <span class="qv-extension-mov-sortorder" ng-show="propertyName === 'qData.description'" ng-class="{reverse: reverse}"></span></th> 
                    <th ng-style="{'background-color': layout.headerColor.color, 'color': layout.headerTextColor.color}" ng-show="layout.props.showExp" ng-click="sortBy('qData.expression')">Expression/Formula <span class="qv-extension-mov-sortorder" ng-show="propertyName === 'qData.expression'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-style="{'background-color': layout.headerColor.color, 'color': layout.headerTextColor.color}" ng-show="layout.props.showTag" ng-click="sortBy('qData.tags')">Tags <span class="qv-extension-mov-sortorder" ng-show="propertyName === 'qData.tags'" ng-class="{reverse: reverse}"></span></th>
                </tr> 
            </thead> 
            <tr class="tr-search" ng-repeat="item in measureDetails | orderBy:propertyName:reverse | filter:searchText"> 
                <td ng-show="layout.props.showId"> {{$index + 1}} </td>                 
                <td ng-show="layout.props.showName" class="tr-highlight"> {{item.qData.title}} </td> 
                <td ng-show="layout.props.showDesc" class="tr-highlight"> {{item.qData.description}} </td> 
                <td ng-show="layout.props.showExp" class="tr-highlight"> {{item.qData.expression}} </td>
                <td ng-show="layout.props.showTag"> 
                    <div ng-if="item.qData.tags.length" class="ng-scope">                        
                        <ul class="qv-extension-mov-tags">
                            <li ng-repeat="tag in item.qData.tags" class="qv-extension-mov-lui-tag {{(tag | uppercase) == (searchText | uppercase) ? 'qv-extension-mov-lui-tag-search' : 'tr-highlight'}}" title="{{tag}}" ng-click="searchTagAndClear(tag)">{{tag}}</li>
                        </ul>
                    </div>
                </td>                             
            </tr> 
        </table>                
    </div>
</div>
<div ng-if="layout.props.showId== false && layout.props.showName == false && layout.props.showDesc == false && layout.props.showExp == false && layout.props.showTag== false" class="qv-extension-mov-top-menu">
    Please select a column to show from the property panel...
</div>